.alertaFormButton {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}

.estados li {
  width: 47%;
  font-weight: bold;
  display: inline-block;
}

.estados li img {
  width: 30px;
  vertical-align: middle;
  margin-right: 8px;
}

.filtro {
  display: inline-block;
  width: 97%;
}

.estadoSucursal,
.estado3,
.estadosTitulos,
.cambioEstado,
.mostrarIDCliente,
.mostrarEstado {
  display: none;
}

.estadoSucursal,
.cambioEstado {
  background: #fff;
}

.cambioEstado .estados li {
  width: 48px;
}

.estadoSucursal li {
  min-width: 48px;
}

.estadosTitulos li {
  margin-bottom: 20px;
}


/* Cambio de estados  */
.onoffswitch {
  position: relative; width: 104px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
  font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #5FB33E; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 34px; margin: 4.5px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 63px;
  border: 2px solid #FFFFFF; border-radius: 50px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}