/* Global Reset */

html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-weight: normal;
}

a:focus {
  outline: none;
}

label {
  display: block;
}

input,
select,
textarea {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  background: none;
  font-size: 14px;
}

/* Global Reset Fin */

/* Layout */

header,
footer {
  background: #001a23;
  padding: 40px 100px;
  overflow: hidden;
}

header {
  background-image: linear-gradient(to right, #001a23, #21578f 70%);
}

footer {
  background-image: linear-gradient(to left, #001a23, #21578f 70%);
}

footer .footerContent {
  float: left;
  color: #fff;
}

footer .footerContent p {
  font-size: 11px;
  margin: 10px 0;
}

footer .footerContent .fas {
  margin-right: 5px;
}

footer .footerSociaLinks {
  float: right;
  display: inline-block;
}

footer .footerSociaLinks li {
  display: inline-block;
}

footer .footerSociaLinks a {
  display: inline-block;
  font-size: 25px;
  margin-left: 10px;
  color: #fff;
}

.logo {
  width: 165px;
  position: absolute;
  top: 33px;
  left: 100px;
}

.mainContainer {
  max-width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

.innerContainer {
  background-color: #f7f7f7;
  overflow: hidden;
}

.content {
  background-color: #fff;
  min-height: 500px;
  padding: 15px;
  margin: 50px 100px 80px 100px;
  color: #1e2630;
  -webkit-box-shadow: -1px 10px 41px -9px rgba(153,151,153,1);
  -moz-box-shadow: -1px 10px 41px -9px rgba(153,151,153,1);
  box-shadow: -1px 10px 41px -9px rgba(153,151,153,1);
  padding-bottom: 60px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
  color: #ef5b13;
}

.titleUnderline {
  border-bottom: 2px solid #d35011;
  padding-bottom: 10px;
}

.content .titleUnderline {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
}

.userPerfilInfo {
  float: right;
}

.userPerfilInfo h3{
  display: inline-block;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.7px;
  font-size: 13px;
  padding-bottom: 6px;
  border-bottom: 2px solid #ef5b13;
  margin-right: 20px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.userPerfilAvatar {
  display: inline-block;
  width: 50px;
  vertical-align: middle;
  margin-right: 20px;
}

.userPerfilAvatar img {
  border-radius: 50%;
}

/* Layout Fin */

/* Columnas */

.row {
  display: -webkit-flex;
  display: flex;
}

.col6 {
  -webkit-flex: auto;
  flex: auto;
  width: 50%;
}

.colWithPaddingLeft {
  padding-left: 10px;
}

.colWithPaddingRight {
  padding-right: 10px;
}

/* Columnas Fin */

/* Form */


input:focus, select:focus, textarea:focus{
  box-shadow: 0 0 5px #ef5b13;
  border: 1px solid #ef5b13;
}
.inputContainer {
  margin-bottom: 20px;
}

.input {
  padding: 8px 12px;
  border: 1px solid #d5d3d3;
  margin-top: 10px;
}


.inputError {
  border: 1px solid red;
}

.inputFotoPerfil {
  position: relative;
}

.inputFotoPerfil .button {
  border: none;
  padding: 0px;
  border-bottom: 2px solid;
}

.inputFotoPerfil .cloudinary_fileupload {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.fotoPerfil img {
  margin-bottom: 20px;
  display: none;
}

#escon {
  display: none;
}

/* Form Fin */

/* Icons */

.icon {
  color: #fff;
  font-size: 23px;
  vertical-align: sub;
}

.iconMenu {
  color: #fff;
  font-size: 30px;
  width: 30%;
  display: inline-block;
  text-align: center;
  background: #d35011;
  vertical-align: middle;
  padding: 16px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Icons Fin */

/* Buttons */

.button {
  box-shadow: none;
  font-size: 13px;
  padding: 12px 20px;
  border: 2px solid;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #ef5b14;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 0.7px;
  background: #fff;
  border-radius: 5px;
}

.button:hover {
  background-color: #d35011;
  color: #fff;
}

.button:hover .icon {
  color: #fff;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button:active {
  outline: none;
  background-color: #d35011;
}

.buttonIcon {
  padding: 6px 20px;
}

.buttonIcon .icon {
  margin-right: 3px;
  color: #ef5b14;
}

.headerSesion .button {
  background-color: transparent;
  border: 0;
  color: #fff;
  padding: 0px;
  margin: 0px 20px;
  border-radius: 0px;
}

.headerSesion .buttonIcon .icon {
  color: #fff;
}

.headerSesion .button:hover {
  border-bottom: 2px solid #ef5b13;
}

/* Buttons Fin */

/* Menu */

.menu {
  padding: 50px 100px 35px 100px;
  background: #f0f0f0;
  -webkit-box-shadow: inset 0px 9px 30px -3px rgb(182, 182, 182);
  -moz-box-shadow: inset 0px 9px 30px -3px rgb(182, 182, 182);
  box-shadow: inset 0px 9px 30px -3px rgb(182, 182, 182);
}

.menuOpciones li {
  font-size: 20px;
  background: #fff;
  margin-bottom: 20px;
  display: inline-block;
  width: 270px;
  margin-right: 40px;
  -webkit-box-shadow: -1px 2px 35px -9px rgb(182, 182, 182);
  -moz-box-shadow: -1px 2px 35px -9px rgb(182, 182, 182);
  box-shadow: -1px 2px 35px -9px rgb(182, 182, 182);
  border: 0px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.menuOpciones li:hover .linkTexto {
  background: #ef5b14;
  color: #fff;
}

.menuOpciones li a {
  display: inline-block;
  width: 100%;
}

.menuOpciones .linkTexto {
  display: block;
  width: 70%;
  float: right;
  text-align: center;
  padding: 21.5px 0;
  color: #033e5a;
  border: 0px solid transparent;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menuOpciones .activo {
  background: #ef5b14;
  color: #fff;
}

.menuOpciones .editarPerfil .iconMenu {
  background: #21578f;
}

.menuOpciones .editarPerfil .activo {
  background: #4171a3;
}

.menuOpciones .editarPerfil:hover .linkTexto {
  background: #4171a3;
}

.subMenu {
  margin: -15px;
  background: #eae9e9;
  margin-bottom: 40px;
}

.subMenu li {
  display: inline-block;
  font-size: 15px;
  padding: 20px;
  margin-right: -3px;
}

.subMenu li:hover a {
  text-decoration: underline;
}

.subMenu a {
  color: #ef5b14;
  display: inline-block;
  width: 100%;
}

.subMenu .activo {
  background: #fff;
}

.subMenu .activo a {
  text-decoration: underline;
}

/* Menu Fin */

/* Table */

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.7px;
  padding: 8px;
  background-color: #4171a3;
  color: #fff;
}

td {
  padding: 8px;
  background: #f0f0f0;
  border-bottom: 1px solid #fff;
  color: #1e2630;
}

/* Table Fin */