
  
  .filtro {
    width: 605px;
    display: inline-block;
  }
  
  #tblTarifas {
    width: 640px;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background-color: rgb(95, 179, 62);
    color: #fff;
  }
  
  td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #1e2630;
    border-top: 1px solid transparent;
  }
  
  .acciones {
    width: 50px;
    text-align: center;
    color: #000000;
  }
  
  tr:hover td{
    background: #d0dafd;
    color: #339;
  }
  
  .iconfiltro {
    padding: 8px;
    margin-right: 4px;
  }
  
  .fas .fa-times {
    color: #000000;
  }
  
  #btnSeleccionarImagen {
    color: #000000;
    padding: 8px 12px;
    margin-top: 10px;
  }
  
  #btnSeleccionarImagen:hover {
    background-color: rgb(156, 151, 151);
  }
  
  .fa-edit:before {
    color: black;
  }
  
  .fa-times:before {
    color: #000000;
  }

  #editarPerfil:before {
    color: #fff;
  }
  