.inputContainerfoto{
    
    object-position: center;
    top:40%;
    right: 20%;
    transform: translate(0%,-50%);
    margin-top: 76px;
    text-align: center;
  }
#btnSeleccionarImagen{
    background: rgba(52,152,219,1.0);
    border: 2px solid #34495e;
    color: #fff;
    padding: 5px 5px;
  }

  #btnSeleccionarImagen:hover{
    background:#34495e;
    border:2px solid #3498db;

  }